.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* higher than topbar, sidebar, main-tab */
}

.modal-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 0px;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1;
  
}

.modal-content-bookdetail {
  background-color: #fff;
  border-radius: 10px;
  width: 60vw;
  max-height: 90vh;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10000;
}

.modal-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
}
.modal-btn button {
  color: rgb(81, 81, 81);
  background-color: #f5f5f5;
  padding: 6px 14px;
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.modal-btn button:hover{
  color:#f5f5f5;
  background-color: rgb(81, 81, 81);
}


