.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* higher than topbar, sidebar, main-tab */
  }

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    width: 60vw;
    height: 90vh;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10000;
  }

  